<div class="box is-fluid">
  <div class="boxEl has-background-grey-darker">
    <h1 class="title has-text-white">Title</h1>
  </div>
  <div
    class="postText box has-background-grey-lighter has-text-black-ter is-size-4"
  >
    Here's a blog post. It contains content. That's pretty neat!
    <p class="is-size-7">Added By:</p>
    <p class="is-size-7">On:</p>
  </div>
  <textarea
    class="postText textarea"
    placeholder="What's on your mind?"
  ></textarea>
  <div
    class="postText box has-background-grey-lighter has-text-black-ter is-size-6"
  >
    This is a bunch of comment text! Holy h*ck!
  </div>
  <button class="boxEl button is-dark">Comment</button>
</div>