<form class="formParent">
  <div class="field">
    <label class="label fontTitle">Email</label>
    <div class="control">
      <input
        class="input fontSubtitle"
        type="email"
        placeholder="e.g. sendingemails@gmail.com"
      />
    </div>
  </div>

  <div class="field">
    <label class="label fontTitle">Password</label>
    <div class="control">
      <input
        class="input fontSubtitle"
        type="password"
        placeholder="Please enter your password"
      />
    </div>
  </div>
  <button class="fontTitle button is-dark">Login</button>
</form>

<script src="/js/login.js"></script>